<footer>
  <div>
    <p>Created by Ryan Woods</p>

    <div class="footer-icons">
      <%= link_to 'https://ryanofwoods.com', target: '_blank', rel: 'nofollow' do %>
        <i class="fas fa-external-link-square-alt"></i>
      <% end %>
      <%= link_to 'https://github.com/ryanofwoods', target: '_blank', rel: 'nofollow' do %>
        <i class="fab fa-github-square"></i>
      <% end %>
      <%= link_to 'https://www.linkedin.com/in/ryanofwoods/', target: '_blank', rel: 'nofollow' do %>
        <i class="fab fa-linkedin"></i>
      <% end %>
    </div>
  </div>
  <div>
    <p>Design by Sara Lotfi</p>

    <div class="footer-icons">
      <%= link_to 'https://saralotfi.com', target: '_blank', rel: 'nofollow' do %>
        <i class="fas fa-external-link-square-alt"></i>
      <% end %>
      <%= link_to 'https://github.com/saralotfi', target: '_blank', rel: 'nofollow' do %>
        <i class="fab fa-github-square"></i>
      <% end %>
      <%= link_to 'https://www.linkedin.com/in/sara-lotfi/', target: '_blank', rel: 'nofollow' do %>
        <i class="fab fa-linkedin"></i>
      <% end %>
    </div>
  </div>
</footer>
