<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "Swedish Birds", "/", class: "navbar-brand hover-pointer hover-opacity" %>

  <% if user_signed_in? %>

    <%= image_tag "owl.png", id: "dropdownMenuLink", class: "avatar ml-auto hover-pointer hover-opacity", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>

    <ul class="navbar-nav nav-collapse">
      <li class="nav-item dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink" aria-labelledby="navbarDropdown">
        <%= link_to "Settings", settings_path, class: "dropdown-item" %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
      </li>
    </ul>

  <% else %>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      </li>
    </ul>

  <% end %>
</div>
